<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vienna Tours</title>

    <!-- Header -->

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/style-user.css" />
    <link rel="icon" href="/static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">


</head>

<body>



    <nav class="navbar navbar-expand-md bg-light navbar-inverse">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'user-dashboard' %}">Vienna Tours</a>

        <!-- Toggler / collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-tours' %}">My Tours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-info p-1 m-1" href="{% url 'tour-new' %}">ADD TOUR</a>
                </li>
            </ul>
        </div>
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </nav>



    <!-- Content -->
    {% block content %}{% endblock %}


</body>

</html>