{% extends "nav.html" %}
{% block content %}


{% for user in employees %}

{% if not forloop.counter|divisibleby:2 %}
<div class="card-group">
    {% endif %}

    <a href="#" class="card bg-light text-dark btn">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="{{ user.profile.image.url }}" />
            <div class="inline employee-info">
                <p class="employee-name">{{ user.get_full_name }}</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/username-icon.svg"
                        style="display: inline-block; width: 20%; height: auto;" />
                    <p class="tour-subtitle" style="display: inline-block">{{ user.username }}</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">{{ user.email }}</p>


            </div>
        </div>
    </a>


    {% if forloop.counter|divisibleby:2 %}
</div>
{% endif %}

{% endfor %}

{% endblock content %}