{% extends "nav.html" %}
{% block content %}

<div class="table-header">
    <h2>Tours</h2>
</div>

<table class="table p-2">
    <thead>
        <tr>
            <th scope="col">Row</th>
            <th scope="col">Tour ID</th>
            <th scope="col">Car ID</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">People</th>
            <th scope="col">Driver</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for tour in tours %}
        <tr>
            <td>{{forloop.counter}}</td>
            <th scope="row">{{ tour.id }}</th>
            <td>{{ tour.carID.id }}</td>
            <td>{{ tour.date|date:"d.m.Y" }}</td>
            <td>{{ tour.tourType }}</td>
            <td>{{ tour.price }}€</td>
            <td>{{ tour.people }}x</td>
            <td>{{ tour.driverID.get_full_name }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'supervisor-tour-details' tour.id %}">Details</a>
                <a class="btn btn-primary" href="{% url 'supervisor-tour-delete' tour.id %}">Remove</a>
            </td>
            </div>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}