{% extends "nav.html" %}
{% block content %}
<div class="vehicles"></div>
{% for car in cars %}


    
    {% if not forloop.counter|divisibleby:2 %}
    <div class="card-group">
    {% endif %}

        <div class="card bg-light">
            <div class="card-body text-center">
    
                <img class="car-image" alt="stats" src="/static/images/car-green.jpg" style="display: inline-block"/>
                <div class="car-info"  style="display: inline-block;">
                    <p class="driver-name">DRIVER: MARK</p>
                    <p class="car-total">TOTAL: 235 €</p>
                </div>
                <h1 class="card-car">Nr. {{ car.id }}</h1>
                <div class="status-info">
                    <img  class="status-icon" alt="status" src="/static/images/status-icon-available.svg" style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">AVAILABLE</p>
                </div>
            </div>
        </div>

    {% if forloop.counter|divisibleby:2 %}
    </div>
    {% endif %}

{% endfor %}
</div>

{% endblock content %}