{% extends "nav.html" %}
{% block content %}

<!-- Alert messages -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<!-- Option to add new vehicle -->
<div class="inline">
    <div style="display: inline-block" class="table-header"><h2 id="title">VEHICLES</h2></div>
    <div style="float: right; margin-left: 4em;">
        <a class="btn btn-primary table-header" href="{% url 'supervisor-vehicle-add' %}">Add new</a>
    </div>

</div>

<!-- List all availables vehicles -->
<div class="vehicles">
{% for car in cars %}
    <!-- For each two vehicles create new row -->
    {% if not forloop.counter|divisibleby:2 %}
    <div class="card-group">
    {% endif %}

        <div class="card bg-light">
            <div class="card-body text-center">
                <img class="car-image" alt="car" src="{{ car.photoOption.url }}" style="display: inline-block"/>
                <div class="car-info"  style="display: inline-block;">
                    <h4 class="employee-name">Nr. {{ car.plate }}</h4>
                    <a class="btn btn-primary" href="{% url 'supervisor-vehicle-delete' car.id %}">Remove</a>
                </div>
            </div>

        </div>

    {% if forloop.counter|divisibleby:2 %}
    </div>
    {% endif %}

{% endfor %}
</div>

{% endblock content %}