{% extends "nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
    

<div class="content-section">
    <form class="edit-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Car</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
</div>

{% block javascript %}

<script>
    $("#id_plate").change(function () {
        var plate = $(this).val();
        //Check if car with this palte already exists
        $.ajax({
            url: '{% url "validate_plate" %}',
            data: {
                'plate': plate
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    alert("A vehicle with this plate already exists.");
                }
            }
        });

    });
</script>


{% endblock javascript %}

{% endblock content %}