{% extends "nav-user.html" %}
{% block content %}

<div class="table-header">
    <h4>Welcome {{ user.get_short_name }}</h4>
</div>
<div class="card-group">
    <div class="card bg-light">
        <div class="card-body text-center" id="balance">
                <img class="card-img" alt="stats" src="../static/images/stats-icon.svg"/>
                 <p class="card-subtitle">- TOURS -</p>
                <h1 class="card-header-tabs">{{ stats.silver }} {{ stats.gold }} {{ stats.platinum }}</h1>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center" id="driver-of-the-day">
            <img class="card-img" alt="trophy" src="../static/images/trophy-icon.svg"/>
            <p class="card-subtitle">- TODAY -</p>
            <h1 class="card-header-tabs">{{ stats.today }} €</h1>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center" id="total">
            <img class="card-img" alt="summary" src="../static/images/summary-icon.svg"/>
            <p class="card-subtitle">- EARNINGS -</p>
            <h1 class="card-header-tabs">{{ stats.total }}</h1>
        </div>
    </div>
</div>

<div class="table-header">
    <h4>Your last tours</h4>
</div>

<table class="table p-4">
    <thead>
        <tr>
            <th scope="col">Tour Nr.</th>
            <th scope="col">Date</th>
            <th scope="col">Car Nr.</th>
            <th scope="col">Type</th>
            <th scope="col">People</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
    {% for tour in tours %}
    <tr>
        <th scope="row">{{ tour.id }}</th>
        <td>{{ tour.date|date:"d.m - H:i" }}</td>
        <td>{{ tour.carID.id }}</td>
        <td>{{ tour.tourType }}</td>
        <td>{{ tour.people }}x</td>
        <td>{{ tour.price }} €</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" 
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" 
        crossorigin="anonymous"></script>
{% endblock javascript %}

{% endblock content %}