{% extends "nav-user.html" %}
{% block content %}

<div class="table-header">
    <h4>Welcome {{ user.get_short_name }}</h4>
</div>
<div class="card-group">
    <div class="card bg-light">
        <div class="card-body text-center" id="balance">
            <p class="card-subtitle">- TYPES -</p>
            <div>
                <canvas id="types-tours-chart"></canvas>
            </div>
       </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center" id="driver-of-the-day">
            <img class="card-img" alt="trophy" src="../static/images/stats-icon.svg" />
            <p class="card-subtitle">- TODAY -</p>
            <h1 id="value" class="card-header-tabs"><b counter="0">0</b> €</h1>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body text-center" id="total">
            <p class="card-subtitle">- TOTAL -</p>
            <div>
            <canvas id="earnings-chart"></canvas>
            </div>
        </div>
     
    </div>
</div>

<div class="table-header">
    <h4>Your last tours</h4>
</div>

<table class="table p-4">
    <thead>
        <tr>
            <th scope="col">Tour Nr.</th>
            <th scope="col">Date</th>
            <th scope="col">Car Nr.</th>
            <th scope="col">Type</th>
            <th scope="col">People</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for tour in tours %}
        <tr>
            <th scope="row">{{ tour.id }}</th>
            <td>{{ tour.date|date:"d.m - H:i" }}</td>
            <td>{{ tour.carID.id }}</td>
            <td>{{ tour.tourType }}</td>
            <td>{{ tour.people }}x</td>
            <td>{{ tour.price }} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var jsonObject = JSON.parse('{{ tourdata | escapejs }}');
    console.log(jsonObject);

    var configTourTypes = {
        type: 'pie',
        data: {
            datasets: [{
                data: {{ tourdata| safe }},
                backgroundColor: ['#c0c0c0', '#daa520', '#b9f2ff'],
                label: 'Tours'}],
            labels: {{ tourlabels | safe }}
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,  
        }   
    };

    var configTotalEarnings = {
        type: 'line',
        data: {
            datasets: [{
                data: {{ tourprices| safe }} 
            }],
            labels: {{ tourdates | safe }}
        },
        options: {
            legend: {
                display: false
            },  
            responsive: true,
            maintainAspectRatio: false,
            scales: {
            xAxes: [{
                ticks: {
                    display: false //this will remove only the label
                },
                gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }
            }],
            yAxes: [{
            gridLines: {
                color: "rgba(0, 0, 0, 0)",
            }   
            }]
        }
        }   
    };

    function update_users_count() {
        var countValue = JSON.parse('{{ stats | escapejs }}');
        $('#value b').animate({
            counter: countValue.today
        }, {
                duration: 1000,
                easing: 'swing',
                step: function(now) {
                    $(this).text(Math.ceil(now));
                },
                complete: update_users_count
            });
    };

    update_users_count();

    window.onload = function () {
        var ctx = document.getElementById('types-tours-chart').getContext('2d');
        window.myPie = new Chart(ctx, configTourTypes);
        var ctx2 = document.getElementById('earnings-chart').getContext('2d');
        window.myPie = new Chart(ctx2, configTotalEarnings);
    };

    //var countValue = JSON.parse('{{ stats | escapejs }}');
    //const obj = document.getElementById("value");
    //animateValue(obj, countValue.today, 0, 5000);

</script>
{% endblock javascript %}

{% endblock content %}