{% extends 'nav-user.html' %}

{% block content %}
<div id="container" style="width: 75%;">
  <canvas id="types-tours-chart"></canvas>
</div>

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  var jsonObject = JSON.parse('{{ tourdata | escapejs }}');
  console.log(jsonObject); 

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: {{ tourdata|safe }},
        backgroundColor: ['#c0c0c0', '#daa520', '#b9f2ff'],
        label: 'Price'
      }],
      labels: {{ tourlabels|safe }}
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('types-tours-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };

</script>
{% endblock javascript %}

{% endblock %}