{% extends "nav-user.html" %}
{% load crispy_forms_tags %}
{% block content %}

      <div class="row mt-5 align-items-center">
        <div class="col-md-3 text-center mb-5">
            <div class="avatar avatar-xl">
              <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"></div>
        </div>
        <div class="col">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <h4 class="mb-1">{{ user.get_full_name }}</h4>
                    <p class="small mb-3"><span class="badge badge-dark">{{ user.username }}</span></p>
                </div>
            </div>
        </div>
    </div>



    <form class="edit-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update profile info of User</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    </div>
{% endblock content %}