{% extends "nav-user.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Success Message -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<div class="card bg-light">
    <!-- Employee current info -->
    <div class="employee-body card-body d-flex justify-content-center">
        <img class="inline employee-image" alt="stats" src="{{ user.profile.image.url }}" />
        <div class="inline employee-info">
            <div>
                <p class="employee-name" style="display: inline-block">{{ user.get_full_name }}</p>
            </div>
            <img class="status-icon" alt="status" src="/static/images/username-icon.svg"
                style="display: inline-block; width: 20%; height: auto;" />
            <p class="tour-subtitle" style="display: inline-block">{{ user.username }}</p>
            <div>
                <img class="status-icon" alt="status" src="/static/images/mail-icon.svg"
                    style="display: inline-block; width: 20%; height: auto;" />
                <p class="tour-subtitle" style="display: inline-block">{{ user.email }}</p>
            </div>

        </div>


    </div>

    <!-- Update Form -->
    <form class="edit-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update profile info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}