{% extends "nav-user.html" %}
{% block content %}

<div class="table-header">
    <h2>Tour details</h2>
</div>

<div class="card">
    <div class="employee-body card-body d-flex justify-content-center">
        <img class="inline employee-image" alt="car" src="{{ object.carID.image.url }}"/>
        <div class="inline employee-info">
            <p class="employee-name">Car Nr. {{ object.carID.id }}</p>
            <p class="tour-subtitle">{{ object.date }}</p>
            <p class="tour-subtitle">ID: {{ object.id }} Type: {{ object.tourType }}</p>
            <p class="tour-subtitle" >People: {{ object.people }}</p>
            <p class="tour-subtitle">Price: {{ object.price }}€</p>
        </div>


    </div>
 </div>

{% endblock content %}

