{% extends "nav-user.html" %}
{% block content %}

<div class="table-header">
    <h2>Data in database</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Row</th>
            <th scope="col">Tour ID</th>
            <th scope="col">Car ID</th>
            <th scope="col">Date</th>
            <th scope="col">Driver</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">People</th>
        </tr>
        </thead>
        <tbody>
    <tr>
        <th scope="row">{{ object.id }}</th>
        <td>{{ object.carID.id }}</td>
        <td>{{ object.date }}</td>
        <td>{{ object.driverID.name }} {{ object.driverID.surname }}</td>
        <td>{{ object.tourType }}</td>
        <td>{{ object.price }}</td>
        <td>{{ object.people }}</td>
    </tr>
</tbody>
</table>

{% endblock content %}