{% extends "nav-user.html" %}
{% block content %}

<div class="table-header">
    <h2>Your tours</h2>
</div>

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Row</th>
            <th scope="col">Tour ID</th>
            <th scope="col">Car ID</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">People</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
    {% for tour in tours %}
    <tr>
        <td>{{forloop.counter}}</td>
        <th scope="row">{{ tour.id }}</th>
        <td>{{ tour.carID.plate  }}</td>
        <td>{{ tour.date|date:"d.m.Y" }}</td>
        <td>{{ tour.tourType }}</td>
        <td>{{ tour.price }}€</td>
        <td>{{ tour.people }}x</td>
        <td>
            <a class="btn btn-primary" href="{% url 'tour-detail' tour.id %}">Details</a>
            <a class="btn btn-primary" href="{% url 'tour-update' tour.id %}">Edit</a>
            <a class="btn btn-primary" href="{% url 'tour-delete' tour.id %}">Remove</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endblock content %}