{% extends "nav.html" %}
{% block content %}

<div class="card-group">
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar1.jpg"/>
            <div class="inline employee-info">
                <p class="employee-name">Lucy Khan</p>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag1.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Ireland</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: -</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-available.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">Car Nr. 1</p>
                </div>

            </div>


        </div>
    </div>
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar2.jpg"/>
            <div class="inline employee-info">
                <p class="employee-name">Josh Smith</p>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag2.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Finland</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: -</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-notworking.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">-</p>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="card-group">
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar3.jpg"/>
            <div class="inline employee-info">
                <p class="employee-name">Sofia Holt</p>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag3.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Norway</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: Silver</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-nonavailable.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">Car Nr. 6</p>
                </div>

            </div>


        </div>
    </div>
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar4.jpg"/>
            <div class="inline employee-info">
                <p class="employee-name">Emily Coper</p>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag4.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Chile</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: -</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-available.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">Car Nr. 2</p>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="card-group">
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar5.jpg"/>
            <div class="inline employee-info">
                <p class="employee-name">Ema Dawson</p>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag5.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Canada</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: -</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-available.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">Car Nr. 4</p>
                </div>

            </div>


        </div>
    </div>
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar6.jpg"/>
            <div class="inline employee-info">
                <p class="employee-name">Mia Herbert</p>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag6.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Slovenia</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: -</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-notworking.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">-</p>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="card-group">
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar7.jpg"/>
            <div class="inline employee-info">
                <p class="employee-name">Mark Holly</p>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag7.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Slovakia</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: Silver</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-nonavailable.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">Car Nr. 3</p>
                </div>

            </div>


        </div>
    </div>
    <div class="card bg-light">
        <div class="employee-body card-body">
            <img class="inline employee-image" alt="stats" src="/static/images/avatars/avatar8.jpg"/>
            <div class="inline employee-info">
                <div>
                    <p class="employee-name" style="display: inline-block">Josh Moore</p>
                </div>
                <div>
                    <img class="employee-nation" alt="nationality" src="/static/images/flags/flag8.svg"
                         style="display: inline-block">
                    <p class="employee-nation-text" style="display: inline-block">Portugal</p>
                </div>
                <p class="tour-subtitle" style="display: inline-block">TOUR: Gold</p>
                <div>
                    <img class="status-icon" alt="status" src="/static/images/status-icon-nonavailable.svg"
                         style="display: inline-block"/>
                    <p class="status-subtitle" style="display: inline-block">Car Nr. 5</p>
                </div>


            </div>


        </div>
    </div>
</div>

{% endblock content %}